@import "../../global.scss";

.inbox-wrapper{

    .inbox-img-container{
        margin-left: 40%;
        margin-right: 50%;

        display:flex;

        .inbox-img{
            text-align: center;
            width: 450px;
            height: 300px;
        }
    }

    .inbox-container{
        padding-top: 10px;
        justify-content: center;
        text-align: center;
        display: flex;
        margin-top: 20px;

        .inbox-titles{
            text-align: center;
            font-family: $mainfont;
            color: $maincolor;
            font-size: 25px;
            font-weight: 700;
        }
    
        .inbox-left{
            flex: 0.5;
            margin: 50px 0px 50px 50px;
        }
    
        .inbox-right{
            flex: 0.5;
            margin: 50px 50px 50px 0px;


            .message-container{
                margin-left: 5%;
                margin-top: 10px;

                .chat-input{
                    margin-left: 5%;
                    margin-top: 10px;
                    width: 95%;
                }

                .send-btn{
                    font-family: $mainfont;
                    height: 30px;
                    width: 150px;
                    border-radius: 50px;
                    color: white;
                    font-size: 10px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
            

        }
    }

}

