@import "../../global.scss";

.inbox-wrapper{

    .inbox-img-container{
        margin-left: 40%;
        margin-right: 50%;

        display:flex;

        .inbox-img{
            text-align: center;
            width: 450px;
            height: 300px;
        }
    }

    .inbox-container{
        padding-top: 10px;
        justify-content: center;
        text-align: center;
        display: flex;
        margin-top: 20px;

        .inbox-titles{
            text-align: center;
            font-family: $mainfont;
            color: $maincolor;
            font-size: 25px;
            font-weight: 700;
            padding-left: 50px;
        }
    
        .inbox-left{
            flex: 0.5;
        }
    
    }

}

