@import "../../global.scss";

.community-wrapper{
    justify-content: center
}

.article-card{
    justify-content: center;
    text-align: left;
    margin: 10px;
    width: 80%;
}

.articles-wrapper{
    justify-content: center;
    text-align: left;
}

.community-header{
    font-family: $mainfont;
    color: $mainText;
    font-size: 23px;
    font-weight: 700;
}