@import "../../global.scss";

.community-wrapper{
    justify-content: center;

    .top-image-wrapper{
        background-color: $secondarycolor;
        width: 100%;

        .image-container{
            background-color: $secondarycolor;

            .top-desc-wrapper{
                padding-left:50px;

            }
            .top-title{
                font-family: $mainfont;
                text-align: left;
                color: $maincolor;
                font-size: 25px;
                font-weight: 700;
                margin-top: 25px;
                margin-bottom: 10px;
                padding-left: 15px;
            }

            .top-desc{
                font-family: $mainfont;
                text-align: left;
                color: $mainText;
                font-size: 20px;
                font-weight: 500;
                margin-top: 25px;
                margin-bottom: 10px;
            }

            .top-desc-wrapper{
                margin-top: 4%;
            }

        }
    }
}

.articles-info-wrapper{
    display: flex
}

.article-card{
    justify-content: center;
    text-align: left;
    width: 80%;
    flex: 0.3;
}

.articles-wrapper{
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;
}

.community-header{
    font-family: $mainfont;
    text-align: left;
    color: $maincolor;
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 20px;
}