@import "../../global.scss";

.feat-user-slider{
    justify-content: center;

    .left-arrow-container{
        width: 20%;
        justify-content: center;
        text-align: center;

        .left-arrow{
            justify-content: center;
            text-align: right;
        }
    }

}