@import "../../global.scss";

.profile-container{
    justify-content: center;
    text-align: center;
    font-family: $mainfont;
    display: flex;
    margin-left: 15%;
    padding: 0px 20px 0px 20px;
    border: 2px solid black;
    width: 70%;
    height: 300px;
    box-shadow: -8px 8px 3px -4px rgba(0, 0, 0, 0.247);

    .profile-card{
        padding: 20px 20% 20px 20%;
        justify-content: center;
        text-align: left;
        display: flex;
        width: 90%;

        .profile-left{
            display: 0.5;
            margin-bottom: 100px;


            .myprofile-image{
                justify-content: center;
                text-align: center;
                padding: 20px 20px 20px;
                clip-path: circle(35% at 50% 50%);
            }

            .image-btn-container{
                justify-content: center;
                text-align: center;
            }

            .edit-profile-btn{
                font-family: $mainfont;
                height: 30px;
                width: 100px;
                border-radius: 50px;
                color: white;
                font-size: 10px;
                font-weight: 700;
            }
        }

        .profile-right{
            display: 0.5;
            padding-top: 10px;
        }
    }
}