@import "../../global.scss";


.middle-bar{
    justify-content: center;
    text-align: center;
    padding: 20px 20px 20px;

    .no-listing-wrapper{
        padding-top: 30px;
        padding-bottom: 10%;

    }

    .my-listings-wrapper{
        padding-bottom: 5%;
    }

    .mylistingtitle{
        text-align: center;
        font-family: $mainfont;
        color: $mainText;
        font-size: 25px;
        font-weight: 700;
    }

    .no-listing-text{
        text-align: center;
        font-family: $mainfont;
        font-style: italic;
        color: $maincolor;
        font-size: 25px;
        font-weight: 500;
    }
    
    .add-listings-btn{
        font-family: $mainfont;
        height: 40px;
        width: 100px;
        border-radius: 50px;
        color: white;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

