@import "../../global.scss";

.roominators-wrapper{
    margin-top: 1%;
    margin-bottom: 1%;
}

.listing-btn-wrapper{
    display: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.listings-btn{
    font-family: $mainfont;
    height: 60px;
    width: 150px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.help-search-container{
    padding: 10px 20px 10px;
    display:relative;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    border: 2px solid black;
    box-shadow: -8px 8px 3px -4px rgba(0, 0, 0, 0.247);

    .search-title{
        font-family: $mainfont;
        text-align: right;
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
}

.basic-multi-select{
    text-align: left;
}

.find-btn-container{
    justify-content: center;
    text-align: left;
}

.find-btn{
    font-family: $mainfont;
    justify-content: center;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-right: 190px
}