@import "../../global.scss";

.roominator-card-container{
    margin-top: 1%;
    margin-bottom: 1%;

    .roominator-image{
        justify-content: center;
        text-align: center;
        margin-left: 5%;
    }

    .contact-btn{
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-weight: 700;
    }
}

