@import "../../global.scss";

.listing-card-container{
    margin-top: 5%;
    display: relative;

    .listing-image{
        justify-content: center;
        text-align: center;
        margin-left: 25%;
    }

    .contact-btn{
        display: absolute;
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
}

