@import "../../global.scss";

.my-listing-card-wrapper{
    margin-top: 5%;
    display: relative;

    .listing-card-container{
        justify-content: center;
        text-align: left;

        .listing-image-wrapper{
            margin-left: 50px;

            .listing-image{
                justify-content: center;
                text-align: center;
            }
        }
    }

    .listing-card-deleter{
        margin-top: 30%;
        justify-content: center;
        text-align: center;
    }

    .delete-btn{
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 15px;
        font-weight: 700;
    }

    .mylisting-edit-btn{
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 15px;
        font-weight: 700;
    }
}

