@import "../../global.scss";

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;

    .about-left {
        padding: 20px;
    }

    .about-right{
        justify-content: center;
        text-align: left;
        margin: 20px;

    
        .about-title{
            justify-content: center;
            text-align: left;
            font-family: $mainfont;
            font-size: 30px;
            padding-top: 10px;
        }
    
        .about-body{
            justify-content: center;
            text-align: left;
            font-family: $mainfont;
        }
    }
}