@import "../../global.scss";

.content{
    margin-top: 90px;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    flex:1
}

.container{
    background-color: white;
}