@import "../../global.scss";


.main-footer{
    background-color: $secondarycolor;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    margin-top: 110px;
    text-align: center;
    border-radius: 50% 50% 0% 0% / 5% 5% 0% 0%;
    height: 300px;
    position:relative;
}

.foot-top{
    justify-content: center;
    text-align: center;
    background-color: $secondarycolor;

    .footerlogo{
        background-color: $secondarycolor;
        width: 400px;
    }
}

.foot-btm{
    background-color: $secondarycolor;


        .icon-wrapper{
            justify-content: center;
            text-align: center;
        
            .foot-icons1 {
                justify-content: space-between;
                text-align: left;
                padding: 10px 10px 10px;
                width: 70px;
                height:auto;
                color: white;
            }
            .foot-icons2 {
                justify-content: space-between;
                text-align: left;
                padding: 10px 10px 10px;
                width:55px;
                height:auto;
                color: white;
            }
            .foot-icons3 {
                justify-content: space-between;
                text-align: left;
                padding: 10px 10px 10px;
                width:65px;
                height:auto;
                color: white;
            }
        }
    }
    
.footer-text{
    justify-content: center;
    text-align: center;
    font-family: $mainfont;
    color: $mainText;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}