$mainText: #222227;
$maincolor: #6C63FF;
$secondarycolor: #ebe9ff;
$thirdcolor: #CACACA;
$mainfont: 'Montserrat', sans-serif;

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.page-with-white-background {
    background-color: white;
}