@import "../../global.scss";

.profile-container{
    font-family: $mainfont;
    display: flex;
    padding: 20px 10px 20px;
    border: 2px solid black;
    width: 1300px;
    height: 300px;
    box-shadow: -8px 8px 3px -4px rgba(0, 0, 0, 0.247);


    .profile-card{
        padding: 20px 20% 0px;
        justify-content: center;
        text-align: left;
        display: flex;

        .profile-left{
            display: 0.5;

            .profile-image{
                justify-content: center;
                text-align: center;
            }

            .image-btn-container{
                justify-content: center;
                text-align: center;
            }

            .edit-profile-btn{
                font-family: $mainfont;
                height: 30px;
                width: 100px;
                border-radius: 50px;
                color: white;
                font-size: 10px;
                font-weight: 700;
                margin-top: 10px;
            }
        }

        .profile-right{
            display: 0.5;
        }
    }
}