@import "../../global.scss";

.listing-card-container{
    margin-top: 1%;
    margin-bottom: 1%;
    
    .listing-image-container{
        justify-content: center;
        text-align: center;

        .listing-image-wrapper{
            margin-left: 50px;

            .listing-image{
                justify-content: center;
                text-align: center;
            }
        }
    }

    .listing-title{
        margin-top: -10px;
    }

    .listing-modal-submit{
        border-radius: 50%;
    }

    .contact-btn{
        display: absolute;
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
}

