@import "../../global.scss";

.listing-card-container{
    margin-top: 1%;
    margin-bottom: 1%;
    
    .listing-image-container{
        justify-content: center;
        text-align: center;

        .listing-image{
            justify-content: center;
            text-align: center;
            margin-left: 5%;
        }
    }


    .contact-btn{
        display: absolute;
        justify-content: center;
        text-align: center;
        font-family: $mainfont;
        height: 30px;
        width: 60px;
        border-radius: 50px;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
}

